// Body
$body-bg: #fff;
$draft-color: #5a5a5a;

// Typography
$font-path: "../fonts";
//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "GothamPro", sans-serif;
//$font-size-base: 14px;
//$line-height-base: 1.6;
$text-color: #636b6f;
