// Variables
@import "variables";
@import "fonts";

body {
  font-family: "GothamPro", sans-serif;
}

.btn {
  cursor: pointer;
}

.hidden {
  display: none;
}

.mw-385 {
  max-width: 385px;
}

.all-posts {
  font-family: "GothamPro-Black", sans-serif;
  text-transform: uppercase;
  .btn {
    font-size: 12px;
    &:before {
      display: inline-block;
      content: "";
      width: 87px;
      height: 87px;
      margin-right: 11px;
      background: #000;
      position: relative;
      top: 36px;
    }
  }
}

.content {
  margin-top: 200px;
}

.post {
  text-align: center;
  margin: 30px 0;
  &.draft {
    color: $draft-color;
    a:not(.btn):not(.badge) {
      color: $draft-color;
    }
  }

  .title {
    font-family: "GothamPro-Black", sans-serif;
    font-size: 50px;
  }
}

.tags-list {
  display: block;
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  position: relative;

  .tags-list-content {
    display: inline-block;
  }

  input {
    height: 31px;
    background: none;
    border: none;
    outline: none;
  }
}

.tags-offer {
  min-width: 220px;
  margin: 0;
  padding: 0;
  background: $gray-light;
  border: 1px solid $gray;
  border-radius: 3px;
  position: absolute;
  top: 2.75rem;
  left: 0;
  z-index: 20;

  li {
    display: block;
    cursor: pointer;
    font-size: .9rem;
    padding: 5px 10px;
    &:hover {
      background: $gray-light-hover;
    }
  }
}