// Variables
@import "variables";
@import "fonts";

body {
  font-family: "GothamPro", sans-serif;
}

.btn {
  cursor: pointer;
}

.mw-385 {
  max-width: 385px;
}

.all-posts {
  font-family: "GothamPro-Black", sans-serif;
  text-transform: uppercase;
  .btn {
    font-size: 12px;
    &:before {
      display: inline-block;
      content: "";
      width: 87px;
      height: 87px;
      margin-right: 11px;
      background: #000;
      position: relative;
      top: 36px;
    }
  }
}

.content {
  margin-top: 200px;
}

.post {
  text-align: center;
  margin: 30px 0;
  &.draft {
    color: $draft-color;
    a:not(.btn) {
      color: $draft-color;
    }
  }

  .title {
    font-family: "GothamPro-Black", sans-serif;
    font-size: 50px;
  }
}